node_modules
**/node_modules
.pnpm-store
.next
dist
build
.turbo
coverage
.open-next
.wrangler
.devcontainer/data
.devcontainer/postgressql_data
.devcontainer/postgresql_data
.devcontainer/clickhouse_data
apps/backend/monitor/data
apps/backend/monitor/log
*.log
.DS_Store
.git
