<div style='font-family: Arial, sans-serif; line-height: 1.5;'>
    <h2>Confirm your email</h2>
    <p>Thanks for registering Condev Monitor.</p>
    <p>This verification link will expire in {{expiresIn}}.</p>
    <p>
        <a href='{{verifyUrl}}'>Click here to verify your email</a>
    </p>
    <p>If you didn't create this account, you can ignore this email.</p>
</div>