<div style='font-family: Arial, sans-serif; line-height: 1.5;'>
    <h2>Reset your password</h2>
    <p>This link will expire in {{expiresInMinutes}} minutes.</p>
    <p>
        <a href='{{resetUrl}}'>Click here to reset your password</a>
    </p>
    <p>If you didn't request this, you can ignore this email.</p>
</div>