<div style='font-family: Arial, sans-serif; line-height: 1.5;'>
    <h2>Confirm your new email</h2>
    <p>You requested to change the email for your account.</p>
    <p>This link will expire in {{expiresInMinutes}} minutes.</p>
    <p>
        <a href='{{confirmUrl}}'>Click here to confirm your new email</a>
    </p>
    <p>If you didn't request this, you can ignore this email.</p>
</div>