include:
    - docker-compose.yml

services:
    # 应用部署相关
    condev-monitor-server:
        image: node:22-alpine
        container_name: condev-monitor-server
        ports:
            - 8081:8081
        volumes:
            - ../:/app/monitor
        environment:
            - NODE_ENV=production
        working_dir: /app/monitor/apps/backend/monitor
        command: 'node dist/src/main.js'
        depends_on:
            - condev-monitor-postgres
            - condev-monitor-clickhouse
    condev-monitor-caddy:
        image: caddy:2.11-alpine
        container_name: condev-monitor-caddy
        # 暴露端口
        ports:
            - '8888:5173'
            - '443:443'
        volumes:
            - ./caddy/Caddyfile:/etc/caddy/Caddyfile
            - ./dist:/app/frontend/monitor/dist
        depends_on:
            - condev-monitor-server
