services:
    condev-monitor-clickhouse:
        image: clickhouse:25.10
        container_name: condev-monitor-clickhouse
        ports:
            - '${CLICKHOUSE_HTTP_PORT:-8123}:8123'
            - '${CLICKHOUSE_NATIVE_PORT:-9000}:9000'
        environment:
            - CLICKHOUSE_USER=${CLICKHOUSE_USERNAME:-lemonade}
            - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD:-condevClickhouse}
            - CLICKHOUSE_DB=${CLICKHOUSE_DB:-lemonade}
        volumes:
            - ./clickhouse_data:/var/lib/clickhouse/

    condev-monitor-postgres:
        image: postgres:18.1
        container_name: condev-monitor-postgres
        ports:
            - '${POSTGRES_PORT:-5432}:5432'
        environment:
            - POSTGRES_USER=${DB_USERNAME:-postgres}
            - POSTGRES_DB=${DB_DATABASE:-postgres}
            - POSTGRES_PASSWORD=${DB_PASSWORD:-condevPostgres}
        volumes:
            - ./postgresql_data:/var/lib/postgresql

networks:
    default:
        name: condev-monitor-network
        driver: bridge
